@* Przykład wyświetlenia informacji o użytkowniku *@
<h2>Witaj, Model.Name</h2>

<ul>
    <li>
        <a href="@Url.Action("UserReservations", "Account")">Twoje rezerwacje</a>
    </li>
    <li>
        <a href="@Url.Action("CheckAvailability", "Reservation")">Nowa rezerwacja</a>
    </li>
</ul>
