@model BookingClientApp.Models.UserViewModel

<form asp-action="CompleteProfile" method="post">
    <div>
        <label asp-for="FirstName">Imię</label>
        <input asp-for="FirstName"/>
    </div>
    <div>
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName"/>
    </div>
    <div>
        <label asp-for="PhoneNumber">Numer telefonu</label>
        <input asp-for="PhoneNumber"/>
    </div>
    <button type="submit">Zaktualizuj profil</button>
</form>
