<div class="text-center">
    <h1 class="display-4">Welcome to BookingClientApp</h1>
    <p class="lead">Easily book your stay at the best hotels around the world.</p>
    <hr class="my-4" />
    <p>Login or register to start managing your bookings.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Auth/Login" role="button">Login</a>
        <a class="btn btn-success btn-lg" href="/Auth/Register" role="button">Register</a>
    </p>
</div>
