@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Booker</h1>
    <p class="lead">Easily book your stay at the best hotels around the world.</p>
    <hr class="my-4" />
</div>
